<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openform()">Open Form</button>
      <h1>{{"Nilai a : "+ a }}</h1>
      <h1>{{"Rata rata : "+ b }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          b: 0,
        },
        methods: {
          openform: function () {
            var tampung = 0;
            var temp = 0;
            for (i = 0; i < 4; i++) {
              temp = Number(prompt("Masukan Nilai a"));
              tampung += Number(temp);
            }
            this.a = tampung;
            return (this.b = tampung / 4);
          },
        },
      });
    </script>
  </body>
</html>
