<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas AJAX</title>
  </head>
  <style>
    #app {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
    }

    .form-group {
      margin-bottom: 1em;
      display: grid;
    }
    input,
    textarea,
    button {
      padding: 0.5em 1em;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 100%;
    }

    .card img {
      width: 100%;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 16px;
    }
    .data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }
  </style>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <div v-if="error.length">
          <b>Please correct the following error :</b>
          <ul>
            <li v-for="err in error">{{ err }}</li>
          </ul>
        </div>
        <div class="form-group">
          <label for="name">Nama</label>
          <input
            type="text"
            name="name"
            id="name"
            v-model="name"
            ref="name"
            placeholder="Nama"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="no_hp">Nomor HP</label>
          <input
            type="tel"
            name="no_hp"
            id="no_hp"
            ref="no_hp"
            v-model="no_hp"
            placeholder="Nomor HP"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="address">address</label>
          <textarea
            v-model="address"
            ref="address"
            name="address"
            id="address"
            cols="30"
            rows="5"
          ></textarea>
        </div>
        <div class="form-group">
          <div v-if="buttonStatus == 'submit'">
            <input type="submit" value="SUBMIT" />
          </div>
          <div v-else-if="buttonStatus == 'update'">
            <input
              type="button"
              @click="updateMember(idEditPost)"
              value="UPDATE"
            />
            <input
              type="button"
              value="CANCEL"
              @click="clearForm"
              style="margin-top: 5px"
            />
          </div>
          <div v-else-if="buttonStatus == 'upload'">
            <input type="file" name="photo" ref="photo" />
            <input
              type="button"
              value="UPLOAD"
              @click="submitPhoto(idUploadPost)"
              style="margin-top: 5px"
            />
            <input
              type="button"
              value="CANCEL"
              @click="clearForm"
              style="margin-top: 5px"
            />
          </div>
        </div>
      </form>
      <div>
        <div class="data" v-if="members.length >0">
          <div class="data-container" v-for="member of members">
            <div class="card">
              <img
                width="100"
                :src="member.photo_profile ?photoUrl+member.photo_profile : 'https://i.pravatar.cc/150?img=4'"
                alt=""
              />

              <div class="container">
                <h4><b>{{ member.name }}</b></h4>
                <p>{{ member.no_hp }}</p>
                <p>{{ member.address }}</p>
              </div>
              <div class="card-footer">
                <button @click="editMember(member)">Ubah</button>
                <button @click="removeMember(member.id)">Hapus</button>
                <button @click="uploadPhoto(member)">Foto</button>
              </div>
            </div>
          </div>
        </div>
        <div class="data" v-else>
          <h3>Belum ada data</h3>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",

        data: {
          name: "",
          address: "",
          no_hp: "",
          error: [],
          members: [],
          url: "http://demo-api-vue.sanbercloud.com/api/member",
          photoUrl: "http://demo-api-vue.sanbercloud.com",
          buttonStatus: "submit",
          idEditPost: null,
          idUploadPost: null,
        },
        methods: {
          validationForm: function () {
            this.error = [];
            if (this.name.length < 3) {
              this.error.push("nama minimal 3 karakter");
              this.$refs.name.focus();
            }
            if (this.no_hp.length < 3) {
              this.error.push("no hp minimal 3 karakter");
              this.$refs.no_hp.focus();
            }

            if (this.address.length < 3) {
              this.error.push("address minimal 3 karakter");
              this.$refs.address.focus();
            }
          },
          submitForm: function () {
            this.validationForm();
            if (this.error.length === 0) {
              let formData = new FormData();
              formData.append("name", this.name);
              formData.append("no_hp", this.no_hp);
              formData.append("address", this.address);

              const config = {
                method: "post",
                url: this.url,
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((error) => console.log(error));
            }
          },
          removeMember: function (id) {
            const config = {
              method: "post",
              url: this.url + "/" + id,
              params: { _method: "DELETE" },
            };

            axios(config)
              .then((response) => {
                this.getMembers();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });

            console.log(id);
          },

          editMember: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.buttonStatus = "update";
            this.idEditPost = member.id;
          },
          updateMember: function (id) {
            this.validationForm();
            if (this.error.length === 0) {
              let formData = new FormData();
              formData.append("name", this.name);
              formData.append("address", this.address);
              formData.append("no_hp", this.no_hp);

              const config = {
                method: "post",
                url: this.url + "/" + id,
                params: { _method: "PUT" },
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.getMembers();
                  this.clearForm();
                  alert(response.data.message);
                })
                .catch((error) => console.log(error));
            }
          },
          uploadPhoto: function (member) {
            this.title = member.title;
            this.description = member.description;
            this.buttonStatus = "upload";
            this.idUploadPost = member.id;
          },

          getMembers: function () {
            axios
              .get(this.url)
              .then((response) => {
                const members = response.data.members;
                console.log("sebelum : ", response.data.members);
                if (members.length <= 9) {
                  this.members = members;
                } else {
                  members.length = 9;
                  this.members = members;
                }
                console.log(this.members);
              })
              .catch((err) => console.log(err));
          },
          clearForm: function () {
            this.name = "";
            this.address = "";
            this.no_hp = "";
            this.buttonStatus = "submit";
            this.idEditPost = null;
            this.idUploadPost = null;
          },
          submitPhoto: function (id) {
            let file = this.$refs.photo.files[0];

            let formData = new FormData();
            formData.append("photo_profile", file);

            let config = {
              method: "post",
              url: `${this.url}/${id}/upload-photo-profile`,
              data: formData,
            };

            axios(config)
              .then((response) => {
                this.clearForm();
                this.getMembers();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        created() {
          this.getMembers();
        },
      });
    </script>
  </body>
</html>
