<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7-1-Tugas-Form-Input-Binding</title>
  </head>
  <body>
    <div id="app">
      <form>
        <input
          type="text"
          name="keyword"
          id="keyword"
          autocomplete="off"
          v-model.trim="keyword"
          onkeyup="vm.search"
          placeholder="Masukkan keyword Pencarian"
          style="min-width: 15em"
        />
      </form>
      <p>List Materi</p>
      <ul v-if="keyword.length ==0 ">
        <li v-for="list in lists">{{ list }}</li>
      </ul>
      <ul v-else>
        <li v-for="list in result">{{ list }}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          keyword: "",
          lists: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linear Elementer",
            "Aljabar Abstract",
            "Algoritma Pemrograman",
          ],
          result: [],
        },

        computed: {
          search: function () {
            this.result = this.lists.filter((item) =>
              item.toLowerCase().includes(this.keyword.toLowerCase())
            );
          },
        },
      });
    </script>
  </body>
</html>
