<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas Quiz 2</title>
    <style>
      .gitlab {
        position: fixed;
        top: 10;
        right: 10em;
      }
      ul {
        padding: 1em 0;
      }
      #list-users li {
        display: flex;
        padding: 0;
        margin: 0;
        margin-bottom: 0.7em;
        list-style: none;
      }

      #list-users li div {
        margin-left: 1em;
      }
    </style>
  </head>
  <body>
    <a
      class="gitlab"
      href="https://gitlab.com/nurhadinubi/full-stack-web-dev-pks-ds/-/commit/f24589ece7769a18f55ec522d85b63f7b97d707d"
      >Link Gitlab Jawaban</a
    >
    <div id="app">
      <input type="text" name="nama" id="input-name" placeholder="Input Nama" />
      <button id="add" onclick="vm.addData()">{{ note }}</button>
      <ul id="list-users">
        <li v-for="(user,index) in users">
          {{ user.name }}
          <div>
            <button @click="updateItem( index )">Edit</button> &nbsp; || &nbsp;
            <button @click="deleteItem(index)">Delete</button>
          </div>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      // link project https://gitlab.com/nurhadinubi/full-stack-web-dev-pks-ds/-/commit/f24589ece7769a18f55ec522d85b63f7b97d707d
      var vm = new Vue({
        el: "#app",
        data: {
          note: "Add",
          index: null,
          users: [
            { name: "Nurhadi" },
            { name: "Ahmad Nurhadi" },
            { name: "Muhammad Syaifuddin" },
            { name: "Ahmad Abdullah" },
          ],
          b: 0,
        },
        methods: {
          addData: function () {
            const nama = document.querySelector("#input-name").value;
            if (nama.trim() == "") {
              alert("Tidak boleh kosong");
              return;
            }
            if (this.note === "Add") {
              return (this.users = [...this.users, { name: nama }]);
            } else {
              this.note = "Add";
              document.querySelector("#input-name").value = "";
              return (this.users[this.index].name = nama);
            }
          },

          updateItem: function (index) {
            console.log(index);
            this.note = "Update";
            const nama = document.querySelector("#input-name");
            this.index = index;
            nama.value = this.users[index].name;
            nama.focus();
          },

          deleteItem: function (index) {
            // console.log(index);
            if (
              window.confirm(
                "Apakah anda akan menghapus data : " +
                  this.users[index].name +
                  " ?"
              )
            )
              return this.users.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
